@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,600;1,400;1,700&family=Quicksand:wght@500;700&display=swap');

:root {
    --border: 3px;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    text-decoration-style:wavy;
}

body {
    text-align: left;
    font-family: "Quicksand", sans-serif;
    font-variant: normal;
    font-weight: 500;
    font-size: 11pt;

}

p {
    margin: 0px;
    text-align: justify;
    text-justify: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

h1 {
    font-family: "IBM Plex Mono", monospace,sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 55.0pt;
}

h2 {
    font-family: "IBM Plex Mono", monospace,sans-serif;
    font-weight: 400;
    font-style:italic;
    font-size: 30.0pt;
}

h4 {
    font-family: "IBM Plex Mono", monospace,sans-serif;
    font-weight: 400;
    font-style:italic;
    font-size: 12.0pt;
    margin:0px
}

h6 {
    font-family: "IBM Plex Mono", monospace,sans-serif;
    font-weight: 400;
    font-style:italic;
    font-size: 10.0pt;
    margin:0px
}

.content {

    border-width: 10px;
    border: var(--border) solid black;
    border-radius: 25px;

    min-height: calc(100vmin - 30px);

}

.header {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 0px;
    margin: 10px 30px 10px 30px;
}

.header h1{
    text-align: center;
    margin:0;
    border: var(--border) solid black;
    padding: 15px;
    
}

.searchbar {
    border: var(--border) solid black;
    margin-top: 0px;
    padding: 5px;
    font-family: "IBM Plex Mono", monospace,sans-serif;
    font-style:italic;
    font-size: 10.0pt;
    flex-grow: 9;
}

.searchbutton {
    background-color: black;
    color: white;

    border: var(--border) solid black;
    margin-top: 0px;
    padding: 5px;
    font-family: "IBM Plex Mono", monospace,sans-serif;
    font-style:italic;
    font-size: 10.0pt;
    font-weight: 700;
}



.grid {
    display: grid;
    
    margin: 0 15px;

    gap: 10px;
    width: auto;
    grid-template-columns: 3fr minmax(436px,4fr) 3fr;
}


@media (min-width:1000px) {
    .grid {grid-template-columns: 3fr minmax(436px,600px) 3fr;}
}



.widgettitle {
    margin: 0;
    padding: 0px;
}

.widgettitle h4 {
    margin: 5px 25px;
    font-weight: 700;
}

.widgettitle hr {
    display: block;
    margin: 5px 0px 10px 0px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    text-align: center;

    position:relative;

    left:-25px;

    width: calc(100% + 50px);
    
}



.widget {
    background-color: white;
    border: var(--border) solid black;
    border-radius: 25px;
    padding: 5px 25px 15px;
    margin: 0 0 10px 0;

    height: auto;
    left: 0px;

}

.requestimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    object-fit: cover;
    min-width: 75%;
    max-width: 100%;
    max-height: 70vmin;
    border: var(--border) solid black;
    border-radius: 25px;
}

.imgtag {
  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
   
    background-color: black;
    color: white;

    font-family: "IBM Plex Mono", monospace,sans-serif;
    font-weight: 400;
    font-style: italic;
}


.avatar {
    position: relative;
    top: -3px;
    left: -3px;
    height: 50px;
    border-radius: 50%;
    border: var(--border) solid black;
}

.avatar:hover {
    border-style: dotted;
}

.haikuList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
}

.haiku {
    margin: 20px 0;
    display: grid;
    grid-column-start: 2;
    /* grid-column-start: 2;
    grid-column-end: 4;
    grid-template-columns: auto 4fr 0px; */
    grid-template-columns: 50px 8fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "ava txt"
    " .  img"
    " .   . "
    ;

    gap: 10px;
    align-items: center;

    border: var(--border) solid black;
    border-radius: 25px;
    padding: 10px 10px 15px 10px;
    margin: 0 0 10px 0;
    
    font-size: 13pt;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
}

.haiku p {
    grid-area: txt;
    text-align: left;
    padding: 10px;
    
}


.haiku .requestimg{
    grid-area: img;
    border: var(--border) solid black;
    border-radius: 25px;
}

.haiku>.haiku {
    margin: 0;

    
    border: var(--border)solid black;
    padding: 0px 0px 0px 10px; 

    font-size: 10pt;
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    
}

.replybox {
    display:grid;
    grid-template-columns: 8fr 2fr;
    grid-template-rows:calc(4em + 20px);
    grid-template-areas: 
    "haiku syl"
    "haiku but";
    width: 100%;
    margin: 0 0 10px 0;
    font-size: 125%;
}



.haiku>.replybox{
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top: 0px; 
    margin-bottom: 0px;
    margin-right: 10px;
    font-size: 100%;
}



.replybox textarea{
    z-index: 5;

    grid-area: haiku;
    font-family: "IBM Plex Mono", monospace,sans-serif;
    font-style: italic; 
    font-size: inherit;
    width: calc(100% + 50px);
    resize: none; 

    background-color: white;

    border: var(--border) solid black;
    border-radius: 25px;
    padding: 15px 70px 15px 20px; 
    margin: 0;
}

.replybox textarea:focus{
    outline-style: solid;
    outline-color: black;
    outline-offset: -7px;
    outline-width: 2px;
}

.replybox input:focus{
    outline-style: solid;
    outline-color: white;
    outline-offset: -5px;
    outline-width: 2px;
}

.sylcount{
    z-index: 10;

    grid-area: syl;
    position: relative;
    
    overflow: hidden;
    width: calc(7em + 10px);
    height: calc(100% + 42px);

    padding: 15px 10px 10px 15px;

    font-weight: bold;
    font-size: 13pt;

    background-color: white;
    
    border: var(--border) solid black;
    border-radius: 25px;
    
}

.submitbutton{
    z-index: 15;
    grid-area: but;

    text-align: center;

    position: relative;


    padding: 10px;

    font-weight: bold;


    border: var(--border) solid black;
    
    border-radius: 25px;


    background-color: black;
    color: white;

    font-family: "IBM Plex Mono", monospace,sans-serif;
    font-style:italic;
    font-size: 10.0pt;
    font-weight: 700;
}

.replybutton {
    grid-column-start: 2;
    width: fit-content;
    background-color: black;
    border: var(--border) solid black;
    border-radius: 25px;

    color: white;
    font-family: "IBM Plex Mono", monospace,sans-serif;
    font-style: italic;
    font-weight: 700;


    padding: 10px;

}

.replybutton:hover {
    outline-style: solid;
    outline-color: white;
    outline-offset: -5px;
    outline-width: 2px;
    
}


.container{
    margin: 10px 0px 10px;
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.vote{

    width: fit-content;
    background-color: white;
    border: var(--border) solid black;

    padding: 5px;

}

.container:hover input ~ .vote {
    font-weight: 700;
}

.container input:checked ~ .vote {
    background-color: black;
    color: white;
    font-weight: 700;
  } 



.noticebox {
    text-align: left;
}

.noticebox p {
    text-align: left;
    text-transform: lowercase;
}

.noticebox p em {
    text-transform: capitalize;
}